/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #a4e7fd;
    border: 3px solid black; /* Add a 1px solid border with a light gray color 
    padding: 10px; /* Add some padding to the card content 
}

img
{
    border-radius: 50%;
    border: 2px solid black;

} */